*.a
*.o
*.so
*.dylib
*.dSYM
*.lib
*.dll
*.exp
*.ilk
*.obj
*.pdb
*.manifest
*~
.pl-history
Makefile
autom4te.cache
config.*
configure
unicode.tex
utf8proc.tex
*.ind
*.toc
*.aux
*.html
*.idx
*.ilg
*.log
*.out
*.pdf
